.edit-note-container {
  border: 1px solid whitesmoke;
  position: relative;
  padding: 12px; /* reduced padding */
  margin: 0; /* removed unnecessary margin */
  background-color: transparent;
  border-radius: 12px;
  width: 100%; /* make it fill modal-content */
  box-sizing: border-box;
}

.edit-note-header,
.edit-note-body {
  font-family: 'Roboto', sans-serif;
  color: white;
  border: none;
  outline: none;
  background: transparent;
  margin: 10px;
  width: 100%;
  resize: none;
}

.edit-note-header {
  font-weight: bold;
  font-size: 1rem;
}

.edit-note-body {
    font-size: 0.8rem;
}

.edit-note-close-btn {
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: bold 0.5rem;
  padding: 2px 4px;
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-note-label {
    margin: 2px;
    font-size: 0.5rem;
}

.edit-note-labels {
    margin-top: 2rem;
}

.edit-note-select-labels-dropdown {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 0.5rem;
  cursor: pointer;
  padding: 4px 8px;
  transition: background 0.2s;
   position: absolute;
  bottom: 1px;
  left: 1px;
}