body, #root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: black;
}

.app-container {
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}